<div class="box-loading" *ngIf="loading">
  <img src="assets/loading.gif" />
</div>
<youpez-content-simple mainTitle="Listado de comprobantes">
  <div fxLayout="row wrap">
    <div class="app-subtitle">Consulta de comprobantes</div>
    <div fxFlex="100%" fxFlex.gt-md="100%">
      <div class="mb-12">
        <div fxFlex="100%">
          <div class="app-card">
            <div class="app-card__header">
              <div  class="box-select">
                <div class="span">Tipo comprobante</div>
                <ibm-combo-box
                  style="width:100%"
                  [placeholder]="'Seleccionar...'"
                  [items]="tiposComprobantes"
                  size="md"
              
                  [appendInline]="false">
                  <ibm-dropdown-list></ibm-dropdown-list>
                </ibm-combo-box>
              </div>
              <div class="box-select">
                <div class="span">Nro comprobante</div>
                <ibm-label
                  [invalid]="false"
                  [invalidText]="''">
                <input
                  ibmText
                  [size]="'sm'"
                  [invalid]="false"
                  [disabled]="false"
                  [(ngModel)]="nroComprobante"
                  theme="light"
                  [placeholder]="''"
                  [autocomplete]="true">
                </ibm-label>
              </div>

              <div class="box-select">
                <div class="span">CUIT emisor</div>
                <ibm-label
                    [invalid]="false"
                    [invalidText]="''">
                  <input
                    ibmText
                    [size]="'sm'"
                    [invalid]="false"
                    [disabled]="false"
                    [(ngModel)]="cuitEmisor"
                    theme="light"
                    [placeholder]="''"
                    [autocomplete]="true">
                </ibm-label>
              </div>
              <div class="box-select">
                <div class="span">Tipo documento</div>
                <ibm-combo-box
                  style="width:100%"
                  [placeholder]="'Seleccionar...'"
                  [items]="tipoDocumentos"
                  size="md"
                  [appendInline]="false">
                  <ibm-dropdown-list></ibm-dropdown-list>
                </ibm-combo-box>
              </div>
              <div class="box-select">
                <div class="span">Nro documento</div>
                <ibm-label
                  [invalid]="false"
                  [invalidText]="''">
                <input
                  ibmText
                  [size]="'sm'"
                  [invalid]="false"
                  [disabled]="false"
                  [(ngModel)]="nroDocumento"
                  theme="light"
                  [placeholder]="''"
                  [autocomplete]="true">
                </ibm-label>
              </div>
              <div class="box-select">
                <div class="span">Razón social</div>
                <ibm-label
                  [invalid]="false"
                  [invalidText]="''">
                <input
                  ibmText
                  [size]="'sm'"
                  [invalid]="false"
                  [disabled]="false"
                  [(ngModel)]="razonSocial"
                  theme="light"
                  [placeholder]="''"
                  [autocomplete]="true">
                </ibm-label>
              </div>
                <div class="box-select">
                  <div class="span">Punto de venta</div>
                  <ibm-label
                    [invalid]="false"
                    [invalidText]="''">
                  <input
                    ibmText
                    [size]="'sm'"
                    [invalid]="false"
                    [disabled]="false"
                    [(ngModel)]="puntoVenta"
                    theme="light"
                    [placeholder]="''"
                    type="number"
                    [autocomplete]="true">
                  </ibm-label>
                </div>
              <div class="box-fetch">
                  <div class="span">Fecha desde - hasta</div>
                  <ibm-date-picker
                  style="width:100%"
                  class="app-inline-block"
                  size="md" range="true">
                </ibm-date-picker>
              </div>
              <div class="box-select box-btn">
                <div class="btn-consultar">
                  <button (click)="limpiar()" class="btn2">Limpiar</button>
                </div>
                <div class="btn-consultar">
                  <button (click)="exportar()" class="btn2">Exportar</button>
                </div>
                <div class="btn-consultar">
                  <button (click)="obtenerComprobantes()">Buscar</button>
                </div>
              </div>
            
            </div>
          </div>
        </div>
  
      </div>
      <div class="mb-6">
        <div class="app-productive-heading-02 mb-2">Comprobantes emitidos</div>
        <ibm-table-container *ngIf="tablaRegistros">
          <app-dummy-table-rich
            [stickyHeader]="false"
            [size]="'Normal'"
            [skeleton]="false"
            [enableSingleSelect]="false"
            [showSelectionColumn]="false"
            [model]="tablaRegistros"
            [striped]="false"
            [sortable]="false"
            [isDataGrid]="false">
          </app-dummy-table-rich>
        </ibm-table-container>
      </div>
    </div>
  </div>
</youpez-content-simple>
