<div class="box-loading" *ngIf="loading">
  <img src="assets/loading.gif" />
</div>

<div id="notificationHolder2" style="position: absolute;z-index:100000; bottom: 10px; right: 0;"></div>
<div class="app-a-box app-scrollbar-fix">
  <ng-scrollbar>

    <div fxLayout="row wrap" class="app-header app-header--hero">
      <div fxFlex="100%" fxFlex.gt-sm="50%" class="relative z-10 box-title-header">
        <div class="app-subtitle text-muted">
          <!-- OVERVIEW -->
        </div>
        <div>
          <span class="app-expressive-heading-06 mr-2">OVERVIEW</span>
          <!-- <span class="app-expressive-heading-03">[ the startup company platform ]</span> -->
        </div>
      </div>
      <div fxFlex="50%" fxFlex.gt-lg="50%">
        <div class="app-card card-afip" fxFlex>
          <div class="app-card__header">
            <div class="app-row app-row--center">
              <div class="flex">
                <div class="app-expressive-heading-03 mb-8"><b>Estado AFIP</b></div>
                <youpez-ibm-icon *ngIf="data && data.tablero" [iconName]="data.tablero.AFIP == 'UP' ? 'arrowUp' : 'arrowDown'" [class]="data.tablero.AFIP == 'UP' ? 'app-color-success icon-afip' : 'app-color-danger icon-afip'"></youpez-ibm-icon>
                <!-- <div class="app-label-01 app-color-success">Today: +1,233</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div fxLayout="row wrap" class="app-card-row-holder">
      <div fxFlex="100%" fxFlex.gt-md="100%" fxFlex.gt-lg="100%">
        <div fxFlex fxLayout="row wrap">
          <div fxFlex="30%" fxFlex.gt-md="30%">
            <div class="app-card">
              <div class="app-card__header">
                <div class="box-select">
                  <div class="span">Compañía</div>
                  <ibm-combo-box
                    style="width:100%"
                    [placeholder]="'Seleccionar...'"
                    [items]="companyList"
                    (selected)="selectedCompany($event)"
                    size="md"
                    [appendInline]="false">
                    <ibm-dropdown-list></ibm-dropdown-list>
                  </ibm-combo-box>
                </div>

                <div class="box-select">
                  <div class="span">Web service</div>
                  <ibm-combo-box
                    style="width:100%"
                    [placeholder]="'Seleccionar...'"
                    (selected)="selectedWebService($event)"
                    [items]="webServiceList"
                    size="md"
                    [appendInline]="false">
                    <ibm-dropdown-list></ibm-dropdown-list>
                  </ibm-combo-box>
                </div>

                <div class="box-select">
                  <div class="span">Entorno</div>
                  <ibm-combo-box
                    style="width:100%"
                    [placeholder]="'Seleccionar...'"
                    (selected)="selectedEntorno($event)"
                    [items]="entornoList"
                    size="md"
                    [appendInline]="false">
                    <ibm-dropdown-list></ibm-dropdown-list>
                  </ibm-combo-box>
                </div>
                <div class="box-fetch">
                  <div class="box-select">
                    <div class="span">Año</div>
                    <ibm-combo-box
                      style="width:100%"
                      [placeholder]="'Seleccionar...'"
                      (selected)="selectedYear($event)"
                      [items]="yearList"
                      size="md"
                      [appendInline]="false">
                      <ibm-dropdown-list></ibm-dropdown-list>
                    </ibm-combo-box>
                  </div>
                  <div class="box-select">
                    <div class="span text-center">Mes</div>
                    <ibm-combo-box
                      style="width:100%"
                      [placeholder]="'Seleccionar...'"
                      (selected)="selectedMonth($event)"
                      [items]="monthList"
                      size="md"
                      [appendInline]="false">
                      <ibm-dropdown-list></ibm-dropdown-list>
                    </ibm-combo-box>
                  </div>
                </div>
                <div class="box-select btn-consultar">
                  <button (click)="inicializar()">Consultar</button>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="70%" fxFlex.gt-md="70%">
            <div class="app-card padding" fxFlex>
              <div fxFlex="100%" fxFlex.gt-md="100%">
                <div class="app-expressive-heading-03">Estadísticas</div>
                <!-- <div class="app-label-01">Working days</div> -->
              </div>
              <div class="app-card__tool">
                <!-- <div class="app-card__tool">
                  <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
                  </button>
                  <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                    <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                  </button>
                </div> -->
                
              </div>

              <div fxFlex="50%" fxFlex.gt-md="33%">
                <div class="app-card">
                  <div class="app-card__header">
                    <div class="app-expressive-heading-03 mb-8">Hora</div>
                    <div>
                      <span class="app-expressive-heading-06 mr-2">{{caeHora.cantidad || '-'}}</span>
                      <!-- <youpez-ibm-icon iconName="arrowUp" class="app-color-success"></youpez-ibm-icon> -->
                    </div>
                    <div class="app-label-01">{{caeHora.tiempoPromedio || '-'}} seg</div>

                  </div>
                </div>
              </div>
              <div fxFlex="50%" fxFlex.gt-md="33%">
                <div class="app-card">
                  <div class="app-card__header">
                    <div class="app-expressive-heading-03 mb-8">Día</div>
                    <div>
                      <span class="app-expressive-heading-06 mr-2">{{caeDia.cantidad || '-'}}</span>
                      <!-- <youpez-ibm-icon iconName="arrowUp" class="app-color-success"></youpez-ibm-icon> -->
                    </div>
                    <div class="app-label-01">{{caeDia.tiempoPromedio || '-'}} seg</div>
                  </div>
                </div>
              </div>
              <div fxFlex="50%" fxFlex.gt-md="33%">
                <div class="app-card">
                  <div class="app-card__header">
                    <div class="app-expressive-heading-03 mb-8">Mes</div>
                    <div>
                      <span class="app-expressive-heading-06 mr-2">{{caeMes.cantidad || '-'}}</span>
                      <!-- <youpez-ibm-icon iconName="arrowUp" class="app-color-success"></youpez-ibm-icon> -->
                    </div>
                    <div class="app-label-01">{{caeMes.tiempoPromedio || '-'}} seg</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div fxFlex="100%">
        <div fxLayout="row wrap">
         
  
          <div fxFlex="100%" fxFlex.gt-md="50%" >
            <div class="app-card">
              <div class="app-card__tool app-card__tool--sign">
                <div class="app-card__tool__sign app-card__tool__sign--warning"></div>
              </div>
              <div class="app-card__header">
                <div class="app-expressive-heading-02 box-header-card">
                  Cantidad
                  <div class="botonera" >
                    <small (click)="discrimineDataChartCantidad('dia')">Dia</small>
                    <small (click)="discrimineDataChartCantidad('month')">Mes</small>        
                  </div>
                </div>
                <!-- <div class="app-label-01">Descripción..</div> -->
              </div>
              <!-- <youpez-echarts-container>
                <youpez-echarts [options]="chartOptionsStatics" class="app-echarts-component"
                             style="height: 500px;"></youpez-echarts>
              </youpez-echarts-container> -->
              <div id="chart-container" style="height: 500px; width: 100%;"></div>

            </div>
          </div>
          <div fxFlex="50%" fxFlex.gt-md="50%">
            <div class="app-card  app-card-padding" *ngIf="chartOptionsStatics2">
              <div class="app-card__tool app-card__tool--sign">
                <div class="app-card__tool__sign app-card__tool__sign--warning"></div>
              </div>
              <div class="app-card__header">
                <div class="app-expressive-heading-02 box-header-card">
                  Velocidad
                  <div class="botonera" >
                  <ibm-date-picker
                      class="box-dia"
                      invalidText="Formato de fecha inválido"
                      (valueChange)="obtenerDiaActual($event, true)">
                  </ibm-date-picker>
                    <small  (click)="discrimineDataChartVelocidad('dia')">Dia</small>
                    <small  (click)="discrimineDataChartVelocidad('mes')">Mes</small>        
                  </div>
                </div>
                <!-- <div class="app-label-01">Descripción..</div> -->
              </div>
              <!-- <youpez-echarts-container>
                <youpez-echarts [options]="chartOptionsStatics2" class="app-echarts-component"
                             style="height: 500px;"></youpez-echarts>
              </youpez-echarts-container> -->
              <div id="chart-container2" style="height: 500px;  width: 100%;"></div>
            </div>
          </div>
          <div fxFlex="50%" fxFlex.gt-lg="50%">
            <div class="app-card" fxFlex>
              <!-- <div class="app-card__tool">
                <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                  <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
                </button>
                <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                  <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                </button>
              </div> -->
              <div class="app-card__header">
                <div class="app-row app-row--center">
                  <div>
                    <div class="app-expressive-heading-02">Pendientes</div>
                    <!-- <div class="app-label-01 app-color-success">Today: +1,233</div> -->
                  </div>
                </div>
              </div>
              <div style="height:270px;" class="relative">
    
                <app-dummy-table-rich size="sh" stickyHeader="true"
                                      [model]="tablaRegistros"
                                      class="app-ibm-h-full app-ibm-table-header-fix"></app-dummy-table-rich>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
