<div class="box-loading" *ngIf="loading">
  <img src="assets/loading.gif" />
</div>
<div id="notificationHolder3" style="position: absolute;z-index:100000; bottom: 10px; right: 0;"></div>

<youpez-content-simple mainTitle="Compañías">
  <div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="100%" class="app-card-row">
      <div class="app-productive-heading-02 px-4">Lista de compañías</div>
      <div fxLayout="row wrap" class="mb-12">
        <div fxFlex="100%" fxFlex.gt-md="100%">
          <div class="app-card">
            <div class="app-card__content">
<!-- Table with thead, tfoot, and tbody -->

              <div class="table-header">
                <div class="title-header">Nombre</div>
                <div class="title-header">CUIT</div>
              </div>
              <div class="table-body" *ngFor="let company of listaCompanias">
                <div class="title-body">{{company.nombre}}</div>
                <div class="title-body">{{company.cuit}}</div>
     
              </div>
            </div>
          </div>
        </div>
 
      </div>
     
    </div>
  </div>
</youpez-content-simple>
