.box-select{
    margin: 8px 0;
}
.app-form__submit{
    display: flex;
    justify-content: space-between;
}
.app-ibm-btn-full {
    width: 226px !important;
}
.bx--btn--primary {
    background-color: #70bd96  !important;
}
.app-ibm-btn-full {
    width: 50% !important;
    padding-left: 0px !important;
    display: flex !important;
    align-items: center;
}