<div class="mb-8" fxHide fxShow.lt-md>
  <youpez-logo class="cursor-pointer" logoWidth="130px"></youpez-logo>
</div>
<h1 class="app-expressive-heading-06 mb-1" *ngIf="esRegistro">Registrarse</h1>
<div class="app-body-long-02 mb-8"  *ngIf="esRegistro">
  ¿Ya tiene una cuenta?
  <a ibmLink routerLink="../signin">Ingresar</a>
</div>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="app-form">
    <div fxLayout="row" class="app-form__row">
      <div fxFlex="50">
        <div class="app-form__item">
          <ibm-label
            [helperText]="''"
            [invalid]="isValid('name')"
            [invalidText]="'Este campo es requerido'">
            Nombre
            <input
              formControlName="name"
              ibmText
              size="md"
              [invalid]="isValid('name')"
              [disabled]="false"
              theme="light"
              [placeholder]="'Nombre'"
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
      <div fxFlex="50">
        <div class="app-form__item">
          <ibm-label
            [helperText]="''"
            [invalid]="isValid('surname')"
            [invalidText]="'Este campo es requerido'">
            Apellido
            <input
              formControlName="surname"
              ibmText
              size="md"
              [invalid]="isValid('surname')"
              [disabled]="false"
              theme="light"
              [placeholder]="'Apellido'"
              [autocomplete]="true">
          </ibm-label>
        </div>
      </div>
    </div>
    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('email')"
        [invalidText]="'Este campo es requerido'">
        Email 
        <input
          formControlName="email"
          ibmText
          size="md"
          [invalid]="isValid('email')"
          [disabled]="false"
          theme="light"
          [placeholder]="'Email'"
          [autocomplete]="true">
      </ibm-label>
    </div>

    <div class="app-form__item">
      <ibm-label
        [helperText]="''"
        [invalid]="isValid('password')"
        [invalidText]="'Este campo es requerido'">
        Contraseña
        <input
          formControlName="password"
          type="password"
          ibmText
          size="md"
          [invalid]="isValid('phone')"
          [disabled]="false"
          theme="light"
          [placeholder]="'Contraseña'"
          [autocomplete]="false">
      </ibm-label>
    </div>
    <div class="box-select">
      <label class="span">Rol</label>
      <ibm-combo-box
        style="width:100%"
        [placeholder]="'Seleccionar...'"
        [items]="rolList"
        (selected)="selectedRol($event)"
        size="md"
        [appendInline]="false">
        <ibm-dropdown-list></ibm-dropdown-list>
      </ibm-combo-box>
    </div>
    <div class="box-select">
      <label class="span">Compañía</label>
      <ibm-combo-box
        style="width:100%"
        [placeholder]="'Seleccionar...'"
        [items]="companyList"
        (selected)="selectedCompany($event)"
        size="md"
        [appendInline]="false">
        <ibm-dropdown-list></ibm-dropdown-list>
      </ibm-combo-box>
    </div>
    <div class="app-form__item app-form__item--opts">
      <!-- <div class="flex justify-between items-center">
        <ibm-checkbox formControlName="condition">
          I have read and accept
          <a class="app-link">terms & conditions</a>
        </ibm-checkbox>
      </div> -->
    </div>
    <div class="app-form__submit">
      <button class="app-ibm-btn-full" (click)="cerrar()" ibmButton="secondary" size="field">
        Cancelar
      </button>
      <button type="submit" class="app-ibm-btn-full" ibmButton="primary" size="field">
        Agregar usuario
        <svg class="bx--btn__icon" ibmIconArrowRight size="20"></svg>
      </button>
    </div>
  </div>
</form>


