.table-header, .table-body{
    width: 100%;
    display: flex;
}
.title-header, .title-body{
    padding: 8px;
    width: 25%;
    display: flex;
    align-items: center;
}
.title-header{
    font-weight: 600;
    background: whitesmoke;
}
.title-body button{
    padding: 5px;
    border: 0;
    background-color: rgb(172, 23, 23);
    color: #fff;
    cursor: pointer;
    margin: 2px;
    border-radius: 3px;
}
.title-body .modify{
    background-color: rgb(218, 140, 39);

}
.title-body button:hover{
    background-color: rgb(133, 14, 14);
}
.box-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: rgba(0,0,0, .3);
}
.box-loading img{
    width: 40px;
}
.box-select{
    margin: 4px;
}
.padding{
    padding: 15px;
}
.bx--btn--primary {
    background-color: #70bd96  !important;
}
.button-action{
    text-align: left!important;
    padding-left: 10px !important;
}
.edit{
    background: #b76715 !important;
    width: 110px!important;
}
.confirm{
    background: #70bd96!important;
    width: 110px!important;
}

.button-action:hover{
    opacity: .5;
}
.button-x{
    background: #b94c30!important;
    width: 30px!important;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    float: right;
}
.button-x:hover{
    opacity: .5;
    cursor: pointer;
}
.box-popup{
    position: fixed;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .3);
}
.popup{
    width: 500px;
    padding:10px;
    background-color: #fff;
    border-radius: 5px;
}
.box-input{
    margin:4px;
}
.input50{
    width: 50%;
}
.box-form{
    padding-top: 20px;
}
.box-form .box-divisor{
    display: flex;
}
.box-cuits{
    display: flex;
    padding: 5px;
}
.cuit{
    padding: 10px;
    background: #383431;
    border-radius: 2px;
    color: #fff;
    display: flex;
    align-items: center;
}
.cuit span{
    margin-left: 5px;
    cursor: pointer;
}
.app-form__submit {
    width: 50% !important;
    padding: 10px;
    padding-left: 0px!important;
}